services:
    mariadb:
        build: ./requirements/mariadb
        container_name: mariadb
        env_file:
            - .env
        volumes:
            - mariadb:/var/lib/mysql
        networks:
            - inception



volumes:
    mariadb:

networks:
    inception: